[Unit]
Description=Scion Monitoring System Endpoint
After=network.target

[Service]
Type=simple
# -- Modify accordingly if needed: directory path --
WorkingDirectory=/home/_USER_/2SMS/deployment/endpoint
Environment="PATH=/home/_USER_/.local/bin:/home/_USER_/go/bin:/usr/lib/go-1.9/bin:/home/_USER_/bin:/home/_USER_/.local/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games:/usr/local/games:/snap/bin" "PYTHONPATH=/home/_USER_/go/src/github.com/scionproto/scion/python:/home/_USER_/go/src/github.com/scionproto/scion" "SC=/home/_USER_/go/src/github.com/scionproto/scion"
TimeoutStartSec=30
# Poll for the sciond default socket file
# -- Modify accordingly if needed: socket path --
ExecStartPre=/bin/bash -c 'while [ ! -S /run/shm/sciond/default.sock ]; do /bin/sleep 1; done'
# -- Modify accordingly if needed: executable path and addresses --
ExecStart=./endpoint -local _IA_,[_IP_]:9199 -endpoint.IP _IP_ -endpoint.enable-node true -manager.IP _MANAGER_IP_
Restart=on-failure
User=_USER_

[Install]
WantedBy=multi-user.target